name: run-tests

on:
    push:
    pull_request:
    schedule:
        - cron: '0 0 * * *'

jobs:
    test:
        timeout-minutes: 15
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                php: [7.4]
                dependency-version: [prefer-lowest, prefer-stable]
                os: [ubuntu-latest]

        name: P${{ matrix.php }} - ${{ matrix.dependency-version }} - ${{ matrix.os }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Cache dependencies
              uses: actions/cache@v4
              with:
                  path: ~/.composer/cache/files
                  key: dependencies-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  extensions: json, dom, curl, libxml, mbstring
                  coverage: xdebug

            - name: Install dependencies
              run: composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction

            - name: Execute tests with coverage
              run: vendor/bin/phpunit --coverage-clover build/logs/clover.xml

            - name: Upload coverage to Coveralls
              if: matrix.dependency-version == 'prefer-stable'
              env:
                  COVERALLS_REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: |
                  composer require --dev php-coveralls/php-coveralls
                  vendor/bin/php-coveralls --coverage_clover=build/logs/clover.xml -v
